* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.form {
  position: fixed;
  top: 100;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .15);
  padding: 5px;
  display: flex;
  height: 50px;
  align-items: center;
}

.name {
  height: 35px;
  background: beige;
  padding: 15px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: 17px;
  font-weight: 400;
}

.input {
  height: 35px;
  border-radius: 30px;
  border: none;
  margin: 5px;
  padding: 0 25px;
  display: flex;
  width: 100%;
  outline: none;
  font-size: 17px;
}

.btn {
  background: #046;
  color: #fff;
  border: none;
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 5px;
}

.messages {
  list-style: none;
  padding: 0;
  margin: 0;
}

.messages > li {
  padding: 10px;
}

.messages > li > span {
 font-weight: 500;
}

.messages > li:nth-child(odd) {
  background: #aaa;
}

